{% extends "base.html" %}

{% block content %}
<style>
div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>   
<h1><center><strong>All Posts</strong></center></h1>

        
    {% if blogs|length == 0 %}
        <p>No blog entries yet.</p>
    {% else %}
    <ul style="list-style-type:none;">
        {% for blog in blogs %}
          <div>
            <li><h2><a href="/single_blog">{{blog.title}}</a></h2></li>
            </li>
            <li><h3>{{blog.entry}}</h3></li>
            <p>written by: {{blog.owner.username}}</p>
        </div>
        <br>
        {% endfor %}
    {% endif %}
    </ul>


{% endblock %}