<!doctype html>
<html>
  
    <head>
        <title>Blog</title>
    </head>

<body>
    <nav>
        <ul style="list-style-type:none;">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/">All Posts</a> <!--TODO needs to link to all posts html page-->
        </li>
        <li>
            <a href="/newpost">Add an entry</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <li> 
            <a href="/logout">Logout</a> 
        </li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>