<!doctype html>
<html>
  
    <head>
        <title>Blog</title>
    </head>
    <!-- Add bootstrap to top of base.html after title-->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- Add extra css styling here -->

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<body>
    <nav>
        <ul style="list-style-type:none;">
        <li>
            <a href="/">Main Blog Page</a>
        </li>
        <li>
            <a href="/newpost">Add an entry</a>
        </li> 
            <a href="/logout">Logout</a>         
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>