<!doctype html>
<html>
  
    <head>
        <title>Blog</title>
    </head>

<body>
    <nav>
        <ul style="list-style-type:none;">
        <li>
            <a href="/blog">Home</a>
        </li>
        <li>
            <a href="/">All Posts</a> <!--TODO needs to link to all posts html page-->
        </li>
        <li>
            {% if session['username'] %}
            <a href="/newpost">Add a new entry</a>
            {% endif %}
        </li>
        <li>
            {% if not session['username'] %}
            <a href="/login">Login</a>
            {% endif %}
            <!-- Login link will only appear if a user is not
             already logged in -->
        </li>
        <li>
            {% if session['username'] %}
            <a href='/logout'>Logout</a>
            {% endif %}
        </li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>