{% extends "base.html" %}

{% block content %}
<style>
div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>   
<h1><center><strong>Blog Users</strong></center></h1>

        
    {% if users|length == 0 %}
        <p>No users yet.</p>
    {% else %}
    <ul style="list-style-type:none;">
        {% for user in users %}
          <div>
            <li><h2><a href='/?id={{user.id}}'>{{user.username}}</a></h2>
            </li>
            
        </div>
        <br>
        {% endfor %}
    {% endif %}
    </ul>


{% endblock %}