{% extends "base.html" %}

{% block content %}
<style>
div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>   
<h1><center><strong>Blog Users</strong></center></h1>

        
    {% if username|length == 0 %}
        <p>No users yet.</p>
    {% else %}
    <ul style="list-style-type:none;">
        {% for user in users %}
          <div>
            <li><h2><a href="/single_blog?id={{blog.id}}"/a>{{blog.username}}</a></h2>
                <!--why single_blog here....-->
                <!--{{blog.id}} this does give the correct id number-->
            </li>
        </div>
        <br>
        {% endfor %}
    {% endif %}
    </ul>


{% endblock %}