{% extends "base.html" %}

{% block content %}


<h1><centered><strong>Add a New Blog Entry, {{session['username']}}!</strong></centered></h1>
<form action="/newpost" method='post'>
    <label>
        
        Title for your new blog:
    </label>
        <br>
    <input type="text" name='new_title' />
    <br>
    <p style="color:red;"><i>{{error}}</i></p>
    <br>
    <br>
    <label>
        Your new blog:</label>
    <br>
    <textarea name="new_entry" type='text' placeholder="Write something.." cols="50" rows="20"></textarea>
    <br>
    <p style="color:red;"><i>{{entry_error}}</i></p>
    <input type="submit" value="Add Entry">
</form>




{% endblock %}