{% extends "base.html" %}

{% block content %}
<nav>
    <ul>
    <li>
        <a href="blog.html">Main Blog Page</a>
    </li>
    <li>
        <a href="newpost.html">Add an entry</a>
    </li>          
    </ul>
</nav>
<h1><centered><strong>Add a Blog Entry</strong></centered></h1>
<form method='post'>
    <label>
        Title for your new blog:
        <input type="text" name='title' />
    </label>
    <label>Your new blog:</label>
    <input textarea= rows="10" cols="50" name='entry' />
    <br>
    <input type="submit" value="Add Entry">
</form>



{% endblock %}