{% extends "base.html" %}

{% block content %}


<h1><centered><strong>Add a Blog Entry</strong></centered></h1>
<form action="/new" method='post'>
    <label>
        Title for your new blog:
    </label>
        <br>
    <input type="text" name='new_title' />
    
    <br>
    <br>
    <label>
        Your new blog:</label>
    <br>
    <textarea name="new_entry" type='text' placeholder="Write something.." cols="50" rows="20"></textarea>
    <br>
    <input type="submit" value="Add Entry">
</form>
    <!--<hr />

    {% if new_entry|length == 0 or new_title|length == 0 %}
    <p>No Blog Posts</p>
    
    {% endif %}-->


{% endblock %}