{% extends "base.html" %}

{% block content %}
<style>
div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>   
        
    {% if blogs|length == 0 %}
        <p>No blog entries yet.</p>
    {% else %}
    <ul style="list-style-type:none;">
        {% for blog in blogs %}
          <div>
            <li><h2><a href="/allposts?id={{blog.id}}">{{blog.title}}</a></h2></li> 
            <h4>By: {{blog.owner.username}}</h4>
            <p>{{blog.entry}}</p>
        </div>
        <br>
        {% endfor %}
    {% endif %}
    </ul>


{% endblock %}